/*limpar formatações*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1,5em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #ffffff;
}

/*Layout*/

a {
	text-decoration: none;
	padding: 8px 12px;
}

#area-teste{
	font-size: 1,5em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #ffffff;
	display: flex;
	justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 25vh; /* Define a altura do contêiner, ajuste conforme necessário */
	

}



#area-cabecalho{
	display: flex;
	justify-content: flex-start; /* Alinha o conteúdo à esquerda */
	align-items: center; /* Alinha o conteúdo verticalmente no centro, se necessário */
	background-color:#ffffff ;
	padding:5px;
	text-align: left;
}

.capa{
	display: flex;
	width: auto; /* Ou qualquer valor específico, como 500px */
	height: auto; /* Mantém a proporção da imagem */
	margin: 0; /* Remove qualquer margem ao redor da imagem */
	border: none; /* Remove qualquer borda ao redor da imagem */
    padding: 0; /* Remove qualquer preenchimento ao redor da imagem */
	display: block; /* Remove o espaço em linha abaixo da imagem */
}


#area-logo, #area-menu{
	display: inline-block; 
	margin-right: 15px; /* Espaçamento entre os links */
	padding:10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#022263;
}

#area-rodape{
	display: flex;
	padding:10px;
	color:#ffffff;
	background:#022263;
	justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 5vh; /* Define a altura do contêiner, ajuste conforme necessário */
}

.logo {
	height: 40px;
	text-decoration:none;
  }

.rodape {
	height: 5px;
	text-decoration:none;
  }

  a:visited {
	color: #022263; /* Define a cor dos links visitados para o mesmo valor ou o desejado */
	/* Se você quiser que os links visitados não tenham efeito de sublinhado ou cor diferente, adicione aqui */
  }